* {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

#pExternalStyling {
  color: yellow;
}

h1 {
  font-size: 3rem;
}

#sub-header {
  text-transform: uppercase;
}

.text-green {
  background-color: #add09c;
}

section > ul > li {
  letter-spacing: 10px;
}

.tools2bUsed {
  border: 2px solid dodgerblue;
}

section img {
  height: 20vh;
  width: 20vh;
  border-radius: 100px;
}

img + ul {
  list-style-type: none;
}

#lastParagraph {
  text-align: center;
}
